---
import SparklesCore from "../components/SparklesCore.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Explore the portfolio of Hiten Khatri, a passionate Full Stack Engineer specializing in modern technologies like React.js, Node.js, Next.js and MERN Stack. Showcasing innovative projects, skills, and expertise in building dynamic and scalable applications"
    />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="T18-q4U5mil9mlLw1tdzJbvD-cNwLDKJniIMUQzrG5g"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="bg-black leading-relaxed text-neutral-200 tracking-wide antialiased selection:bg-neutral-300 selection:text-neutral-900 z-10 relative"
  >
    <SparklesCore
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.2}
      particleDensity={100}
      className="w-full h-full fixed z-0"
      particleColor="#FFFFFF"
    />
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
      font-size: 1.125rem;
    }
  </style>
</html>
